<a href="https://colab.research.google.com/github/danielhendra0046/kelas-terbuka-python-dasar/blob/main/kelas_terbuka_python_dasar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 26 OKTOBER 2023

Casting Tipe Data (Mengubah tipe data)

In [ ]:
data_int = 9
print("data = ", data_int, ",type =", type(data_int))

data_float = float(data_int)
data_str = str(data_int)
data_bool = bool(data_int) # akan false jika nilai int = 0

print("data = ", data_float, ",type =", type(data_float))
print("data = ", data_str, ",type =", type(data_str))
print("data = ", data_bool, ",type =", type(data_bool))

data =  9 ,type = <class 'int'>
data =  9.0 ,type = <class 'float'>
data =  9 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

Input data

In [ ]:
# data yang dimasukkan pasti jenisnya string
data = input("Masukkan data: ")

print("data = ", data, ",type =", type(data))

# jika mau melakukan casting, begini caranya
angka = float(input("Masukkan data: "))
angka = int(input("Masukkan data: "))


print("data = ", angka, ",type =", type(angka))

# bagaimana dengan boolean
biner = bool(int(input("Masukkan nilai boolean: ")))

print("data = ", biner, ",type =", type(biner))

Masukkan data: haha
data =  haha ,type = <class 'str'>
Masukkan data: 15.2
Masukkan data: 10
data =  10 ,type = <class 'int'>
Masukkan nilai boolean: 1
data =  True ,type = <class 'bool'>

Perhitungan sederhana: Konversi Suhu

In [ ]:
print("\nPROGRAM KONVERSI TEMPERATUR\n")

celcius = float(input("Masukkan suhu dalam celcius : "))
print("suhu adalah ", celcius, "Celcius")

PROGRAM KONVERSI TEMPERATUR

KeyboardInterrupt: ignored

# 27 OKTOBER 2023

## tentang campuran amburadul wkwk

Catatan:

untuk is dan is not digunakan dalam antarsesama operasi identitas
untuk perbandingan operasi identitas dgn integer/float digunakan "=="

============================================

Di bawah ini latihan soal

In [ ]:
print("GABUNGAN")
InputData = float(input("Masukkan Data : "))

Angka1 = (InputData >= 0 and InputData <= 5)
print(Angka1)

Angka2 = (InputData >= 8 and InputData <= 11)
print(Angka2)

Hasilnya = Angka1 or Angka2
print("Answer :", Hasilnya)

GABUNGAN
Masukkan Data : 4
True
False
Answer : True

Operator Bitwise

Bitwise sebenarnya tidak jauh berbeda dengan operator lainnya. Selengkapnya lebih baik lihat videonya kelas terbuka saja hehehehe. Antara lain, operator bitwise: ^, ~, |, &, >>, <<

## manipulasi string

Cara mengubah operator dalam bentuk methods

mengubah case dari string, mengubah semua ke upper case

In [ ]:
salam = "bro!"
print("normal = " + salam)
salam = salam.upper()
print("upper = " + salam)

normal = bro!
upper = BRO!

untuk pengecekan string, ada beberapa function, antara lain:

In [ ]:
# islower() <- untuk pengecekan apakah semua huruf kecil
# isupper() <- untuk pengecekan apakah semua huruf besar
# isalpha() <- untuk mengecek apakah semuanya huruf
# isalnum() <- huruf dan angka
# isdecimal() <- angka saja
# isspace() <- spasi, tab, newline \n
# istitle() <- semua kata dimulai dengan huruf besar

ada juga penggunaan startswith() dan endswith()

In [ ]:
cek_start = "Sangjangnim Oppa".startswith("Sangjangnim")
print("start = " + str(cek_start))

start = True

penggabungan komponen join() split()

In [ ]:
pisah = ['aku', 'sayang', 'kamu']
gabungan = ','.join(pisah)
print(pisah)
print(gabungan)

['aku', 'sayang', 'kamu']
aku,sayang,kamu

In [ ]:
gabungan = "akuehmsayangehmkamu"
print(gabungan.split('ehm'))

['aku', 'sayang', 'kamu']

alokasi karakter rjust(), ljust(), center(), strip()

In [ ]:
kanan = "Halo".rjust(10)
print("'"+kanan+"'")

'      Halo'

In [ ]:
tengah = "tengah".center(20,".")
print("'"+tengah+"'")

tengah = tengah.strip(".")
print("'"+tengah+"'")

'.......tengah.......'
'tengah'

## Format String

ini cara coding string, tidak hanya bisa digunakan untuk string. tapi untuk angka, boolean juga bisa

In [ ]:
# string

nama = "ucup"
format_str = f"hello {nama}"

print(format_str)

# bilangan bulat
angka = 15
format_str = f"bilangan bulat = {angka:d}"
print(format_str)

# bilangan ribuan
angka = 2000000
format_str = f"bilangan ribuan = {angka:,}"
print(format_str)

# bilangan desimal
angka = 2005.54321
format_str = f"desimal = {angka:.3f}"
print(format_str)

# menampilkan leading zero
angka = 2005.54321
format_str = f"desimal = {angka:010.3f}"
print(format_str)


# menampilkan tanda + atau -
angka_minus = -10
angka_plus = 10
format_minus = f"minus = {angka_minus:+d}"
format_plus = f"plus = {angka_plus:+d}"

print(format_minus)
print(format_plus)

# memformat persen
presentase = 0.045
format_persen = f"persen = {presentase:.2%}"

print(format_persen)

# melakukan operasi aritmetika di dalam placeholder
harga = 10000
jumlah = 5

format_string = f"harga total = {harga*jumlah:,}"
print(format_string)

# format angka lain (binary, octal, hexadecimal)

angka = 255
format_binary = f"binary = {bin(angka)}"
format_octal = f"octal = {oct(angka)}"
format_hex = f"hex = {hex(angka)}"

print(format_binary)
print(format_octal)
print(format_hex)

hello ucup
bilangan bulat = 15
bilangan ribuan = 2,000,000
desimal = 2005.543
desimal = 002005.543
minus = -10
plus = +10
persen = 4.50%
harga total = 50,000
binary = 0b11111111
octal = 0o377
hex = 0xff

# 28 OKTOBER 2023

## String width alignment

cara menambahkan enter (string multiline)

In [ ]:
# cara menambahkan enter dengan menggunakan \n

data_nama = "Ucup Surucup"
data_umur = 17
data_tinggi = 150.1
data_nomor_sepatu = 44

data_string = f"nama = {data_nama}, \numur = {data_umur}, \ntinggi = {data_tinggi}, \nsepatu = {data_nomor_sepatu}"
print("\n"+5*"="+"Data String"+5*"=")
print(data_string)

=====Data String=====
nama = Ucup Surucup,
umur = 17,
tinggi = 150.1,
sepatu = 44

In [ ]:
# cara menambahkan enter dengan menggunakan tanda """

data_nama = "Ucup Surucup"
data_umur = 17
data_tinggi = 150.1
data_nomor_sepatu = 44

data_string = f"""
nama = {data_nama}
umur = {data_umur}
tinggi = {data_tinggi}
sepatu = {data_nomor_sepatu}
"""

print("\n"+5*"="+"Data String"+5*"=")
print(data_string)

=====Data String=====

nama = Ucup Surucup
umur = 17
tinggi = 150.1
sepatu = 44

## Date and Time

In [4]:
import datetime as dt

hari_ini = dt.date.today()
print(hari_ini)

tanggal = dt.date(2005,10,10)
print(tanggal)

2023-10-28
2005-10-10

In [14]:
import datetime as dt

print("Silahkan masukkan tanggal, \nbulan dan tahun lahir anda: ")
tanggal = int(input("Tanggal \t: "))
bulan = int(input("Bulan \t\t: "))
tahun = int(input("Tahun \t\t: "))

tanggal_lahir = dt.date(tahun,bulan,tanggal)
print(f"tanggal lahir anda adalah : {tanggal_lahir}")

hari_ini = dt.date.today()
print(f"hari ini tanggal: {hari_ini}")
umur_hari = hari_ini - tanggal_lahir
umur_tahun = umur_hari.days // 365
umur_bulan_sisa = (umur_hari.days % 365) // 30

print(f"Hari nya adalah : {tanggal_lahir:%A}")
print(f"Umur anda adalah : {umur_tahun} tahun, {umur_bulan_sisa} bulan")

Silahkan masukkan tanggal,
bulan dan tahun lahir anda:
Tanggal 	: 07
Bulan 		: 08
Tahun 		: 2000
tanggal lahir ada adalah : 2000-08-07
hari ini tanggal: 2023-10-28
Hari nya adalah : Monday
Umur anda adalah : 23 tahun, 2 bulan

## Pengkondisian

If and Else Statement