<a href="https://colab.research.google.com/github/danielhendra0046/kelas-terbuka-python-dasar/blob/main/kelas_terbuka_python_dasar_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 30 OKTOBER 2023

## Operasi List

In [4]:
# count digunakan untuk menghitung jumlah data

data_angka = [1,5,1,4,3,2,4,3,2,2,6,8,9,0,6]

jumlah_data_4 = data_angka.count(4)
jumlah_data_3 = data_angka.count(3)

print(f"jumlah angka 4 = {jumlah_data_4}")
print(f"jumlah angka 3 = {jumlah_data_3}")

# cara mengurutkan angka, menggunakan .sort

data_angka.sort()
print(f"data angka setelah disort = \n{data_angka}")

# cara membalik urutan

data_angka.reverse()
print(f"data angka setelah direverse = \n{data_angka}")

jumlah angka 4 = 2
jumlah angka 3 = 2
data angka setelah disort =
[0, 1, 1, 2, 2, 2, 3, 3, 4, 4, 5, 6, 6, 8, 9]
data angka setelah direverse =
[9, 8, 6, 6, 5, 4, 4, 3, 3, 2, 2, 2, 1, 1, 0]

Lalu, ada lagi .index , digunakan untuk menghitung dia posisi data ke berapa di list

Lalu, gimana caranya copy list?

In [7]:
data_angka = [1,5,1,4,3,2,4,3,2,2,6,8,9,0,6]

data_angka_new = data_angka.copy()

print(f"ini adalah data angka: \n{data_angka}")
print(f"ini adalah data angka setelah dicopy: \n{data_angka_new}")

data_angka_new[1] = 3

print(f"ini adalah data angka setelah diubah: \n{data_angka_new}")

ini adalah data angka:
[1, 5, 1, 4, 3, 2, 4, 3, 2, 2, 6, 8, 9, 0, 6]
ini adalah data angka setelah dicopy:
[1, 5, 1, 4, 3, 2, 4, 3, 2, 2, 6, 8, 9, 0, 6]
ini adalah data angka setelah diubah:
[1, 3, 1, 4, 3, 2, 4, 3, 2, 2, 6, 8, 9, 0, 6]

Nested List -> list di dalam list

In [12]:
data_0 = [1,2]
data_1 = [3,4,5]

list_2D = [data_0,data_1]

print(f"list 2D {list_2D}")

# contoh penggunaan

peserta_0 = ["Ucup",25,"Laki-laki"]
peserta_1 = ["Otong",10,"Laki-laki"]
peserta_2 = ["Dedeh",50,"Wanita"]

list_peserta = [peserta_0,peserta_1,peserta_2]

print(f"peserta = {list_peserta}")

for peserta in list_peserta:
  print(f"nama\t: {peserta[0]}")
  print(f"umur\t: {peserta[1]}")
  print(f"gender\t: {peserta[2]}\n")

list 2D [[1, 2], [3, 4, 5]]
peserta = [['Ucup', 25, 'Laki-laki'], ['Otong', 10, 'Laki-laki'], ['Dedeh', 50, 'Wanita']]
nama	: Ucup
umur	: 25
gender	: Laki-laki

nama	: Otong
umur	: 10
gender	: Laki-laki

nama	: Dedeh
umur	: 50
gender	: Wanita

kalau kita mengcopy data nested list, kita tidak bisa memakai cara biasa. Harus pakai deepcopy

In [16]:
data_0 = [1,2]
data_1 = [3,4]

data_2D = [data_0,data_1]

from copy import deepcopy

data_2D_deepcopy = deepcopy(data_2D)

print(f"address asli = {hex(id(data_2D))}")
print(f"address deep = {hex(id(data_2D_deepcopy))}\n")

print("Address dari member ke-1")
print(f"address asli = {hex(id(data_2D[0]))}")
print(f"address deep = {hex(id(data_2D_deepcopy[0]))}")

address asli = 0x7bde07780a00
address deep = 0x7bde0777c600

Address dari member ke-1
address asli = 0x7bde07783940
address deep = 0x7bde0777c840

## Looping List dan Enumerate